<!DOCTYPE html>
<html lang="ES-MX">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>FarmaLab</title>

  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
  <link rel="stylesheet" href="../static/fonts/icomoon/style.css">
  
  <link rel="icon" href="https://www.pngitem.com/pimgs/m/42-423728_pharmacy-medicine-doctor-medic-png-image-blue-pharmacy.png">

  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/magnific-popup.css">
  <link rel="stylesheet" href="../static/css/jquery-ui.css">
  <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">


  <link rel="stylesheet" href="../static/css/aos.css">

  <link rel="stylesheet" href="../static/css/style.css">

</head>


<body>

  <div class="site-wrap">


    <div class="site-navbar py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="index.html" class="js-logo-clone">FARMALAB</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="acercade.html">Quienes somos</a></li>
                <li class="active"><a href="contacto.html">Contacto</a></li>
                <li><a href="login.html">Login</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="h3 mb-5 text-black">Formulario de contacto</h2>
          </div>
          <div class="col-md-12">
    
            <form action="#" method="post">
    
              <div class="p-3 p-lg-5 border">
                <div class="form-group row">
                  <div class="col-md-6">
                    <label for="c_fname" class="text-black">Nombre<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="c_fname" name="c_fname">
                  </div>
                  <div class="col-md-6">
                    <label for="c_lname" class="text-black">Apellido(s)<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="c_lname" name="c_lname">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_email" class="text-black">Correo<span class="text-danger">*</span></label>
                    <input type="email" class="form-control" id="c_email" name="c_email" placeholder="">
                  </div>
                </div>
    
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_message" class="text-black">Mesnsaje</label>
                    <textarea name="c_message" id="c_message" cols="30" rows="7" class="form-control"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-12">
                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Enviar mensaje" onclick="myFunction()">
                  </div>
                </div>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>


    <div class="site-section bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="text-white mb-4">Nuestros sucursales</h2>
          </div>
          <div class="col-lg-4">
            <div class="p-4 bg-white mb-3 rounded">
              <span class="d-block text-black h6 text-uppercase">Tuxtla Guti&eacute;rrez (Matriz)</span>
              <p class="mb-0">Blvd. Belisario Domínguez, Km. 1081, S/N, Terán, Tuxtla Gutiérrez, Chiapas, México, 29050</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="p-4 bg-white mb-3 rounded">
              <span class="d-block text-black h6 text-uppercase">San Cristobal de las Casas</span>
              <p class="mb-0">Calle Presidente Obregón S/N. Colonia Revolución Mexicana San Cristóbal de las Casas, Chiapas, 29220</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="p-4 bg-white mb-3 rounded">
              <span class="d-block text-black h6 text-uppercase">Tapachula</span>
              <p class="mb-0">Carretera Puerto Madero S/N. Km. 1.2, Colonia Centro, Tapachula, Chiapas, 30700</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>


    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

            <div class="block-7">
              <h3 class="footer-heading mb-4">Acerca de</h3>
              <p>FarmaLab te permite encontrar la m&aacute;s amplia oferta de productos para tu salud, cuidado personal, entre otros, con los mejores precios.</p>
            </div>

          </div>
          <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
            <h3 class="footer-heading mb-4">Nuestros apartados</h3>
            <ul class="list-unstyled">
              <li><a href="index.html">Inicio</a></li>
              <li><a href="productos.html">Productos</a></li>
              <li><a href="acercade.html">Quienes somos</a></li>
              <li><a href="contacto.html">Contacto</a></li>
            </ul>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Informaci&oacute;n de contacto</h3>
              <ul class="list-unstyled">
                <li class="address">Blvd. Belisario Domínguez, Km. 1081, S/N, Terán, Tuxtla Gutiérrez, Chiapas, México, 29050</li>
                <li class="phone"><a href="tel://5296132006947">+52 961 320 6947</a></li>
                <li class="email">marcos.cancino96@unach.mx</li>
              </ul>
            </div>


          </div>
        </div>
    </footer>
  </div>
  
  <script src="../static/js/jquery-3.3.1.min.js"></script>
  <script src="../static/js/jquery-ui.js"></script>
  <script src="../static/js/popper.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/owl.carousel.min.js"></script>
  <script src="../static/js/jquery.magnific-popup.min.js"></script>
  <script src="../static/js/aos.js"></script>
  
  <script type='text/javascript'>
function myFunction() {
  alert("Gracias por tu mensaje.");
  location.reload();
}
</script>

  <script src="../static/js/main.js"></script>

</body>

</html>
